<meta charset="UTF-8">
<title>Animal Dashboard</title>
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type ="text/javascript" src="/js/main.js"></script>	
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type='text/javascript'>

	//all javascript is in main.js
	$(document).ready(main);

</script>
<script src='/js/main.js'></script>