<meta charset="UTF-8">
<title><%= title %></title>
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type ="text/javascript" src="/js/main.js"></script>	
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
