/*CSS reset settings */
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
}
.container{
	width: 750px;
	margin: 0 auto;
	border: 1px solid black;
}

/*header section*/
.header{
	border-bottom: 1px solid black;
	padding: 0 0 10px 10px;
	background-color: silver;
}
h4{
	text-align: center;
}
.header input{
	border: 1px solid black;
	font-size: 14px;	
}
ul, input{
	display: inline;
	vertical-align: center;
}
ul li{
	display: inline-block;
	vertical-align: bottom;
	font-size: 50px;
}
ul, input{
	display: inline;
	vertical-align: center;
}
ul li{
	display: inline-block;
	vertical-align: bottom;
	font-size: 50px;
}
#nav{
	width: 350px;
	margin: 0 0 25px 25px;
}
#home{
	margin-top: 10px;
}
#search{
	width: 100px;
	margin-left: 40px;
	background-image:url("http://i47.tinypic.com/r02vbq.png");
	background-repeat: no-repeat;
    background-position: left;
}
#searchIcon{
	margin-left: 50px;
}

/*main section*/
.main{
	padding: 30px;
}
form{
	display: inline-block;
	vertical-align: top;
	width: 350px;
	height: 250px;
	padding: 25px 25px 0px 25px;
	margin-left: 180px;
	border: 1px solid black;
}

form span{
	display: inline-block;

}

form p:nth-of-type(4){
	margin-bottom: 10px;
}

h3{
	text-decoration: underline;
	margin-bottom: 15px;
}
label, input{
	display: inline-block;
	margin-bottom: 15px;

}

label, .aLeft{
width: 180px;

}

select{
	width: 165px;
}
textarea{
	margin-top: 10px;
}

.aRight{
	margin-left: 50px;
}
.aLeft,.aRight{
	margin-bottom:5px;
}
#comment{
	 width: 345px;
	 height: 80px;
	 padding-left: 25px;
}

button{
	width: 75px;
	margin-left: 270px;
	box-shadow: 3px 3px 1px black;
}


/*footer section*/
.footer{
	height: 25px;
	background-color: silver;
	border-top: 1px solid black;
}







