<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat Demo</title>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type ="text/javascript" src="js/main.js"></script>	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type='text/javascript'>
	
		//all javascript is in main.js
		$(document).ready(main);

	</script>
	<script src='main.js'></script>
</head>

<body>

	<div class="prompt">
		<h5>The page at --path-- says:</h5>
		<h5>Your name:</h5>
		<input type="text" id='name'>
		<button id='btn_cancel'>Cancel</button><button id='btn_ok'>OK</button>
	</div>

	<div class="container">
		<!-- dynamically rendered elements go here for active users	 -->
	</div>

</body>
</html>