<!DOCTYPE html>
<html lang="en" ng-app='productsApp'>
<head>
	<meta charset="UTF-8">
	<title>ControllingProducts</title>
	<script src='bower_components/angular/angular.js'></script>
	<script src='main.js'></script>
	<script src='factories/factory.js'></script>
	<script src='controllers/productController.js'></script>
	<script src='controllers/orderController.js'></script>
	<link rel="stylesheet" href="styles/style.css">

</head>
<body>
	<div class="container">
		<div class='products' ng-controller='productController'>
			<fieldset>
				<legend>Products Controller</legend>
				<form>
					
						<div>
							<label for="name">Product Name</label>
							<label for="price">Product Price</label>
						</div>
						<div>
							<input type="text" name='name' id='name' ng-model='newProd.name'>
							<input type="text"  name='price' id='price' ng-model='newProd.price'>
						</div>
						<div>
							<input type='submit' value='Add Product' ng-click='createProduct()'>
						</div>
					
				</form>

				<table>
					<thead>
						<tr ng-class-even="'odd'">
							<th>Name</th>
							<th>Price</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-show='products.length' >
						<!-- generate table rows here -->
						<tr ng-repeat="prod in products" ng-class-odd="'odd'" ng-class-even="'even'">
							<td>{{ prod.name }}</td>
							<td>{{ prod.price | currency }}</td>

							<td><button ng-click="deleteProduct($index)">Delete Product</button></td>					
						</tr>
					</tbody>
				</table>

			</fieldset>
		</div>

		<div  class='orders' ng-controller='orderController'>
			<fieldset>
				<legend>Orders Controller</legend>
				
				<table>
					<thead>
						<tr ng-class-even="'odd'">
							<th>Name</th>
							<th>Price</th>
							<th>Qty Available</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-show='products.length' >
						<!-- generate table rows here -->
						<tr ng-repeat="prod in products" ng-class-odd="'odd'" ng-class-even="'even'">
							<td>{{ prod.name }}</td>
							<td>{{ prod.price | currency }}</td>
							<td>{{ prod.available }}</td>

							<td><button ng-click="buyProduct($index)">Buy</button></td>					
						</tr>
					</tbody>
				</table>

			</fieldset>
		</div>
	</div>
</body>
</html>