/*CSS reset settings */
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
}
.container{
	width: 35%;
	margin: 10% auto;
	/*border: 1px solid blue;*/
}
.products, .orders{
	width: 100%;
	margin: 0;
}
fieldset{
	width: 90%;
	
	padding: 10px 20px;

}
form{
	/*border: 1px solid green;*/
}
legend{
	margin-left: 10px;
}

div:not(.container){
	display: inline-block;
	/*border: 1px solid red;*/
}

/*.container div:last-child{
	margin-left: 10px;
}*/

label, input{
	display: block;
	margin-bottom: 5px;

}
input{
	border: 1px solid black;
}
input[type='submit'], button{
	padding: 0 10px;
	box-shadow: 3px 3px black;
}
table{
	width: 90%;
	border: 1px solid black;
}
th{
	font-weight: normal;
	background-color: #DDDDDD;
}

table, th, td{
	padding: 1px 5px;
	

	border-collapse: collapse;
}
th, td{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.odd {
	background-color: #FFFFFF;
 }
.even {
  
	background-color: #DDDDDD;
}